@import "bootstrap";
body{
  margin: 0;
  padding: 0;
}
.btn-products{
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border-bottom: 3px solid #004182;
  font-size: 15px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 10px;
  width: 146px;
  line-height: 1.2em;
  background: linear-gradient(0deg,#1771b9,#4aacfb);
}
