@import "bootstrap";
@import "./components/loader";

.nav-item.out {
  right: 20px;
  top: 10px;
}

.modal.show {
  background: rgba(0, 0, 0, .5);

  .modal-dialog {min-width: 55%;}
}

.home-link {
  height: 200px;
  background: #a21e1e;
  text-decoration: none;
  color: #fff;

  h1 {
    font-size: 100px;
  }
  
  &:hover {
    opacity: .8;
    color: #fff;
  }
}

.page-item {
  cursor: pointer;
}