@import "bootstrap";
@import "./components/loader";

.nav-item.out {
  right: 20px;
  top: 10px;
}

.modal.show {
  background: rgba(0, 0, 0, .5);

  .modal-dialog {min-width: 55%;}
}

.home-link {
  height: 200px;
  background: #a21e1e;
  text-decoration: none;
  color: #fff;

  h1 {
    font-size: 100px;
  }
  
  &:hover {
    opacity: .8;
    color: #fff;
  }
}

.page-item {
  cursor: pointer;
}

.page-title {
  margin: 0 0 0 80px;
  font-size: 25px;
}

.left-menu {
  position: relative;
  width: 200px;
  min-height: 100vh;
  transition: width 0.6s;

  &.full {
    width: 65px;
    padding-left: 0 !important;
    padding-right: 0 !important;

    .nav-item {

      .nav-link {
        background: none;

        &.active {

          .icon-menu {
            background: #0d6efd;
          }
        }

        span {
          display: none;
        }
      }
    }
  }

  .toggle-left-menu {
    position: absolute;
    width: 20px;
    height: 50px;
    background: #1d2f44;
    top: calc(50% - 25px);
    right: -20px;
    cursor: pointer;
  }

  .icon-menu {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
  }
}